* {
    box-sizing: border-box;
    font-size: 20px;
    margin: auto;
}

body {}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 3fr 1fr;
    grid-template-areas: "header header header" "section section section" "main main main " "footer footer footer";
}

#header_container {
    grid-area: header;
    width: 100vw;
    background-color: aqua;
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr;  */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo search redes" "logo search tipo";
}


#section_container {
    width: 100vw;
    grid-area: section;
    background-color: burlywood;
}


#main_container {
    width: 100vw;
    grid-area: main;
    background-color: yellow;
}

#footer_container {
    width: 100vw;
    grid-area: footer;
    background-color: violet
}


/********************************HEADER*********************************/

/*************************LOGO*********************************/
.logo-container {
    grid-area: logo;
    width: 30vw;
    /* background-color: aquamarine; */
}

.logo-container img {
    width: 10vw;
    margin: 1vw;
}

.logo-container img:hover {
    transform: scale(1.3, 1.3);
}






/**************************************************************/


/*************************SEARCH*******************************/
.search-container {
    grid-area: search;
    width: 40vw;
    height: auto;
    /* background-color: beige; */
}

#search {
    width: 90%;
    margin: auto;
}

#search>input {
    width: 100%;
    font-size: 2rem;
}

#search button {
    height: 4vh;
    background-color: transparent;
    position: absolute;
    border: 0;
    margin-left: -3vw;
}

#search button img {
    width: 80%;
    margin: auto;

}

/**************************************************************/



/*************************REDES********************************/
.redes-container {
    grid-area: redes;
    width: 30vw;
    /* background-color: blueviolet; */
    display: flex;
}

.btn_redes {
    width: 5vw;
    background-color: transparent;
    border: transparent 0;
}

.btn_redes>img {
    width: 50%;
}

.btn_redes>img:hover {
    transform: scale(1.2, 1.2);
}

/**************************************************************/

/**************************TIPO********************************/
.tipo-container {
    width: 30vw;
    grid-area: tipo;

}

.tipo-container>ul {
    list-style: none;
    display: flex;
}

.tipo-container>ul>li {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 25px;
}

.tipo-container ul :hover {
    background-color: burlywood;
}

/**************************************************************/

/**************************BREAKPOINT HEADER*******************/

/* 400 * 600
650 * 400
850 * 600
1000 * 800
1300 * 800
1300 infinit
*/

@media only screen and (max-width:1000px) {
    #header_container {
        grid-area: header;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "logo " "search" "tipo"
    }

    .redes-container {
        opacity: 0;
    }

    .logo-container {
        width: 100vw;
    }

    .logo-container img {
        width: 90%;
        padding: 2px;
    }

    .search-container {
        width: 100vw;
    }

    #search>input {
        width: 90%;
        font-size: 1rem;
    }

    /* #search {
        width: 90%;
        margin: auto;
    }
    
    #search>input {
        width: 100%;
        font-size: 2rem;
    }
    */
    #search button {
        width: 10%;
        background-color: transparent;
        position: absolute;
        border: 0;
        margin-left: -10%;

    }

    #search button img {
        width: 50%;
        margin: auto;

    }
    .tipo-container {
        width: 100vw;
        grid-area: tipo;
    
    }
    .tipo-container>ul {
        list-style: none;
        background-color: aquamarine;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .tipo-container>ul>li {
        width: 50vw; 
        text-align: center;
        margin-top: 10px;
    }
    /* .tipo-container {
        width: 30vw;
        grid-area: tipo;
    
    }
    
    .tipo-container>ul {
        list-style: none;
        display: flex;
    }
    
    .tipo-container>ul>li {
        background-color: antiquewhite;
        padding: 5px;
        border-radius: 25px;
    }
    
    .tipo-container ul :hover {
        background-color: burlywood;
    } */
}


/******************************END-HEADER*******************************/